<div class="event-list">
  <h2>Lista de registros</h2>
  <table>
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Identificación</th>
        <th>Fecha de nacimiento</th>
        <th>Ubicación</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{ event.firstName }}</td>
        <td>{{ event.lastName }}</td>
        <td>{{ event.identification }}</td>
        <td>{{ event.birthDate }}</td>
        <td>{{ event.address }}</td>
        <td>
          <button class="edit-btn" (click)="editEvent(event.id)">Editar</button>
          <button class="delete-btn" (click)="deleteEvent(event.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
