<div class="start-screen" *ngIf="!showEvents">
    <div class="text-container">
      <h2>Bienvenido a la Gestión de Eventos</h2>
      <p>Organiza y administra tus eventos de manera eficiente.</p>
      <button class="start-btn" (click)="start()">Iniciar</button>
    </div>
    <div class="image-container">
      <img src="event.jpg" alt="Gestión de Eventos" class="start-image">
    </div>
  </div>
  
  <div *ngIf="showEvents" class="event-wrapper">
    <div class="event-form">
      <app-event-form (eventCreated)="onEventCreated()"></app-event-form>
    </div>
    <div class="event-list">
      <app-event-list #eventList></app-event-list>
    </div>
  </div>
  