<div class="event-edit">
  <h2>Edición</h2>
  <form (ngSubmit)="updateEvent()">
    
    <label for="firstName">Nombres</label>
    <input type="text" id="firstName" [(ngModel)]="event.firstName" name="firstName" required />

    <label for="lastName">Apellidos</label>
    <input type="text" id="lastName" [(ngModel)]="event.lastName" name="lastName" required />

    <label for="identification">Identificación</label>
    <input type="number" id="identification" [(ngModel)]="event.identification" name="identification" required />

    <label for="birthDate">Fecha de nacimiento</label>
    <input type="date" id="birthDate" [(ngModel)]="event.birthDate" name="birthDate" required />

    <label for="address">Ubicación (Dirección y barrio)</label>
    <input type="text" id="address" [(ngModel)]="event.address" name="address" required />

    <button type="submit">Actualizar Registro</button>
  </form>
</div>
